
@import url('https://fonts.googleapis.com/css?family=Poppins');
/* ------------------------ header -----------------------*/
/* add a background-color to the header's <h1> and <p> */
header {
    background-color: lightgrey;
    color: darkgray;
    font-size: x-small;
    text-align: left;
    padding-left: 10px;
}

/* ------------------------ navigation  -----------------------*/
.nav {
    justify-content: end;
    font-size: medium;
}

/* ------------------------ body -----------------------*/
/* Add a background-color and a text color of your choice. */
body {
    height: 100%;
    width: 100%;
    background-color: #fba92c;
    color: white;
    text-align: center;
    font-family: poppins;
}


/* ------------------------ info & car section -----------------------*/
/* Add a background-color and a text color of your choice <h2> */
.info {
    text-align: center;
    color:  black; 
    font-size: 25px;
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


/* Add a background-color and a text color of your choice for <h3> */
h3 {  
    color: white;
    text-align: center;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  
}

img {
    width: 50%;
    margin: auto;
}

/* ------------------------ carousel stuff  -----------------------*/
.carousel-indicators {
    background-color: #444;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-control-prev, .carousel-control-next {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #444;
  }

/* ------------------------ footer -----------------------*/
footer {
    padding-top: 200px;
    padding-right: 20px;
    text-align: center;
}





